[Desktop Entry]
Type=Application
Name=Add/Remove Software
Name[af]=Voeg sagteware by/verwyder
Name[ar]=إضافة/إزالة البرامج
Name[ast]=Amestar/Quitar Software
Name[be]=Дадаць/выдаліць праграмнае забеспячэнне
Name[bg]=Добавяне/премахване на софтуер
Name[bn]=সফটওয়্যার যোগ করুন/সরান
Name[bs]=Dodaj/ukloni softver
Name[ca]=Afegeix/suprimeix programari
Name[cs]=Přidat/odebrat software
Name[cy]=Ychwanegu/Tynnu Meddalwedd
Name[da]=Tilføj/fjern software
Name[de]=Software hinzufügen/entfernen
Name[el]=Προσθαφαίρεση λογισμικού
Name[eo]=Aldoni/Forigi Programaron
Name[es]=Agregar/quitar software
Name[et]=Lisa/eemalda tarkvara
Name[eu]=Gehitu/kendu softwarea
Name[fa]=افزودن/حذف نرم‌افزار
Name[fi]=Lisää/poista ohjelmisto
Name[fr]=Ajouter/supprimer des logiciels
Name[ga]=Cuir le/bain bogearraí
Name[gl]=Engadir/eliminar software
Name[gu]=સૉફ્ટવેર ઉમેરો/દૂર કરો
Name[he]=הוספה/הסרה של תוכנות
Name[hi]=सॉफ़्टवेयर जोड़ें/हटाएं
Name[hr]=Dodaj/ukloni softver
Name[hu]=Szoftverek telepítése/eltávolítása
Name[hy]=Ծրագրաշարի ավելացում/հեռացում
Name[id]=Tambah/Hapus Perangkat Lunak
Name[is]=Bæta við/fjarlægja hugbúnað
Name[it]=Aggiungi/rimuovi software
Name[ja]=ソフトウェアの追加と削除
Name[ka]=პროგრამების დამატება/წაშლა
Name[kn]=ಸಾಫ್ಟ್‌ವೇರ್ ಸೇರಿಸಿ/ತೆಗೆದುಹಾಕಿ
Name[ko]=소프트웨어 추가/제거
Name[lt]=Įdiegti/pašalinti programinę įrangą
Name[lv]=Pievienot/noņemt programmatūru
Name[mk]=Додај/отстрани софтвер
Name[ml]=സോഫ്‌റ്റ്‌വെയർ ചേർക്കുക/നീക്കം ചെയ്യുക
Name[mr]=सॉफ्टवेअर जोडा/काढा
Name[ms]=Tambah/Buang Perisian
Name[nb]=Legg til/fjern programvare
Name[nl]=Software toevoegen/verwijderen
Name[oc]=Apondre/Suprimir logicials
Name[pa]=ਸਾਫਟਵੇਅਰ ਜੋੜੋ/ਹਟਾਓ
Name[pl]=Dodaj/usuń oprogramowanie
Name[pt]=Adicionar/remover software
Name[pt_BR]=Adicionar/remover programas
Name[ro]=Adaugă/elimină software
Name[ru]=Установка и удаление программ
Name[sk]=Pridať/odobrať softvér
Name[sl]=Dodaj/odstrani programje
Name[sq]=Shto/hiq softuerin
Name[sr]=Додај/уклони софтвер
Name[sr@latin]=Dodaj/ukloni softver
Name[sv]=Lägg till/ta bort program
Name[ta]=மென்பொருளை சேர்/அகற்று
Name[te]=సాఫ్ట్‌వేర్ జోడించు/తొలగించు
Name[th]=เพิ่ม/ลบซอฟต์แวร์
Name[tr]=Yazılım Ekle/Kaldır
Name[uk]=Додати/видалити програмне забезпечення
Name[ur]=سافٹ ویئر شامل/حذف کریں
Name[vi]=Thêm/Gỡ phần mềm
Name[zh_CN]=添加/删除软件
Name[zh_TW]=新增/移除軟體

Comment=RakuOS Software Center
Comment[af]=RakuOS Sagteware Sentrum
Comment[ar]=مركز برامج RakuOS
Comment[bg]=RakuOS Софтуерен център
Comment[bn]=RakuOS সফটওয়্যার কেন্দ্র
Comment[bs]=RakuOS Centar za softver
Comment[ca]=Centre de programari de RakuOS
Comment[cs]=Centrum softwaru RakuOS
Comment[da]=RakuOS Softwarecenter
Comment[de]=RakuOS Software-Center
Comment[el]=Κέντρο λογισμικού RakuOS
Comment[es]=Centro de software de RakuOS
Comment[et]=RakuOS tarkvarakeskus
Comment[eu]=RakuOS software-zentroa
Comment[fa]=مرکز نرم‌افزار RakuOS
Comment[fi]=RakuOS-ohjelmistokeskus
Comment[fr]=Centre de logiciels RakuOS
Comment[gl]=Centro de software de RakuOS
Comment[he]=מרכז התוכנה של RakuOS
Comment[hi]=RakuOS सॉफ़्टवेयर केंद्र
Comment[hr]=RakuOS Centar za softver
Comment[hu]=RakuOS szoftverközpont
Comment[id]=Pusat Perangkat Lunak RakuOS
Comment[it]=Centro software RakuOS
Comment[ja]=RakuOS ソフトウェアセンター
Comment[ka]=RakuOS პროგრამების ცენტრი
Comment[ko]=RakuOS 소프트웨어 센터
Comment[lt]=RakuOS programinės įrangos centras
Comment[nl]=RakuOS softwarecentrum
Comment[nb]=RakuOS programvaresenter
Comment[pl]=Centrum oprogramowania RakuOS
Comment[pt]=Centro de software RakuOS
Comment[pt_BR]=Central de programas do RakuOS
Comment[ro]=Centrul de software RakuOS
Comment[ru]=Центр программного обеспечения RakuOS
Comment[sk]=Centrum softvéru RakuOS
Comment[sl]=RakuOS programski center
Comment[sr]=RakuOS Центар за софтвер
Comment[sv]=RakuOS programvarucenter
Comment[tr]=RakuOS Yazılım Merkezi
Comment[uk]=Центр програмного забезпечення RakuOS
Comment[vi]=Trung tâm phần mềm RakuOS
Comment[zh_CN]=RakuOS 软件中心
Comment[zh_TW]=RakuOS 軟體中心

Exec=/usr/bin/rakuos-software %f
Icon=system-software-install
Terminal=false
Categories=System;PackageManager;
MimeType=application/x-rpm;application/vnd.flatpak;application/vnd.flatpak.ref;application/vnd.appimage;
Keywords=install;remove;software;packages;flatpak;rpm;
Keywords[de]=installieren;entfernen;Software;Pakete;
Keywords[es]=instalar;quitar;software;paquetes;
Keywords[fr]=installer;supprimer;logiciels;paquets;
Keywords[ru]=установить;удалить;программы;пакеты;
Keywords[zh_CN]=安装;卸载;软件;软件包;
StartupNotify=true
StartupWMClass=org.rakuos.Software
